<!-- <h1>Workouts</h1> -->
<% if current_user %>
  <% if @workouts.any? %>
  <h4>Workout Log</h4>
    <div id="index_workouts">
      <table>
        <tr>
          <th>Date</th>
          <th>Workout</th>
          <th>Length</th>
          <th>Notes</th>
        </tr>
      <% @workouts.each do |workout| %>
        <tr>
          <td><%= link_to workout.date.strftime("%A %B %d"), workout_path(workout) %></td>
          <td><%= workout.workout %></td>
          <td><%= workout.length %></td>
          <td><%= workout.notes %></td>
        </tr>
        <% end %>
        </table>
    </div>
  <% else %>
    <p>Your workout log is empty.</p>
  <% end %>
  <hr>

  <%= link_to "Add New Workout", new_workout_path %>

  <% else %>
  <%= render "welcome" %>
  <% end %>
