<div id="workout">
  <table>
    <tr>
      <th>Date</th>
      <th>Workout</th>
      <th>Length</th>
    </tr>
    <tr>
      <td><%= @workout.date.strftime("%A, %B %d") %></td>
      <td><%= @workout.workout %></td>
      <td><%= @workout.length %></td>
    </tr>
  </table>
</div>

<br>

<%= link_to "Back", root_path %> |
<%= link_to "Edit", edit_workout_path(@workout) %> |
<%= link_to "Delete", workout_path(@workout), method: :delete, data: { confrim: "Are you sure?" } %>
