<!DOCTYPE html>
<html>
  <head>
    <title>FitnessBuddy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
  </head>

  <body>
    <nav>
        <div class="nav-wrapper teal">
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><%= link_to "Home", root_path %></li>
            <% if current_user %>
              <li><%= link_to "Signout", destroy_user_session_path, method: 'delete' %></li>
              <li><%= link_to 'Edit Profile',edit_user_registration_path %></li>
              <li><%= current_user.email %></li>
              <% else %>
              <li><%= link_to "Signup", new_user_registration_path %></li>
              <li><%= link_to "Sign in", new_user_session_path %></li>
              <% end %>
          </ul>
        </div>
      </nav>

    <div class="container">
      <div class="alerts">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <div class="page">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
